[submodule "3d_diffuser_actor"]
	path = 3d_diffuser_actor
	url = https://github.com/memmelma/3d_diffuser_actor.git
[submodule "robomimic_pcd"]
	path = robomimic_pcd
	url = git@github.com:memmelma/robomimic_pcd.git
