
[submodule "third_party/3d_diffuser_actor"]
	path = third_party/3d_diffuser_actor
	url = https://github.com/peek-robot/3d_diffuser_actor.git
[submodule "third_party/robomimic_pcd"]
	path = third_party/robomimic_pcd
	url = https://github.com/peek-robot/robomimic_pcd.git
